<div class="facets">
	<div class="facets-product-category">
		<% @categories.sort_by{|c| c.name}.each do |c|%>
			<a href="/search/show/<%= c.id %>"><%= c.name %></a>
			</br>
		<% end%>
	</div>

	<div class="facets-price">
		<% form_tag url_for(:action => :show) do %>
		<%= hidden_field_tag :id, params[:id] %>
	    <%= label_tag :min %>
	    <%= text_field_tag :min %>
	    <%= label_tag :max %>
	    <%= text_field_tag :max %>
	    <%= submit_tag "Filter", :class => 'filter_button' %>
		<% end%>
	</div>
</div>

