<% classes = @site.root? ? 'medium': '' %>
<div class="product card #{classes} hoverable" data-pid="<%= product.id %>">
  <% if @site.root? %>
  <ul class='wishlist'>
    <li class='add right'>
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </li>
    <li class='added right hide'>
    <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">done</i></a>
    </li>
  </ul>
  <% end %>
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="/images/p/<%= product.image_urls %>" width="300px" height="300px">
  </div>
  <div class="desc card-content">
    <span class="card-title activator grey-text text-darken-4">
      <%= product.title %>
      <i class="material-icons right">more_vert</i>
      <i class="material-icons right">comment</i>
    </span>
    <div>INR<h5 class="price"><%= product.price -%></h5></div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= product.title %><i class="material-icons right">close</i></span>
    <p> <%= product.description %> </p>
    <div class="fb-comments" data-href="http://<%= @site.name -%>.wishlist.dev" data-width="300" data-numposts="3"></div>
    <div class="status">
      <div class="ctbn-progress-bar">
        <div class="ctbn-percent-pledged" style="width: <%= product.contribution_percentage(@site.id) -%>%"></div> </div>
      <% if product.contribution_percentage(@site.id) == 100.0 %>
      <div class="ctbn-successful">
        <strong>Successfully funded!</strong>
      </div>
      <% if product.effective_price != product.price %>
        <ul class="ctbn-stats">
          <li>
          <div class="ctbn-stats-value"><%= product.contribution_percentage(@site.id) -%></div> <span class="ctbn-stats-label">funded</span>
          </li>
          <li>
          <div class="ctbn-stats-value"><span class="money usd no-code"><%= product.price -%></span>
          </div> <span class="ctbn-stats-label">required</span>
          </li>
          <li class="ksr_page_timer" data-end_time="2015-09-20T09:59:32-04:00">
          <div class="ctbn-stats-value">
            <div class="num">22</div>
          </div>
          <div class="ctbn-stats-label text" data-word="left">days to go</div>
          </li>
        </ul>
      <% end %>
      <% end %>
    </div>
  </div>
  <% unless @site.root? %>
  <div class="actions row">
  <% if product.available?(@site.id) %>
    <a class="left btn waves-effect waves-light amber darken-3  col s6 contribute" href='/search/show_cart?catalog_id=<%= product.id %>&contribution=true'><i class="material-icons left">playlist_add</i>Contribute</a>
    <a class="right btn waves-effect waves-light green col s6 buy" href='/search/show_cart?catalog_id=<%= product.id %>&contribution=false'><i class="material-icons left">shopping_cart</i>Buy</a>
  <% else %>
  <a class="btn disabled col s12"><i class="material-icons left">shopping_cart</i> Already Purchased</a>
  <% end %>
  </div>
  <% end %>
</div>
