<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>Wishlist</title>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/stylesheets/site.css" rel="stylesheet" media="screen,projection">
<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/stylesheets/slick.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/stylesheets/slick-theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header class="grey darken-3 ">
  <nav class='top-nav hide-on-large-only' role="navigation">
    <div class='nav-wrapper white'>
      <a href="#" data-activates="nav-mobile" class="button-collapse black-text hide-on-large-only"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo black-text  hide-on-med-and-down">Wishlist</a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed grey darken-3 ">
      <li id='logo-container' class='grey darken-2'><a href="#" class="brand-logo white-text">Logo </a></li>
        <li>
        <form action='#!'>
          <div class="input-field">
            <input id="search" type="search" placeholder='search' required='required'>
            <label for="search"><i class="material-icons left">search</i></label>
          </div>
        </form>
        </li>
      <li><a class="waves-effect white-text" href="#">Home</a></li>
      <li><a class="waves-effect white-text" href="#">Our Products</a></li>
      <li><a class="waves-effect white-text" href="#">About Us</a></li>
      <li><a class="waves-effect white-text" href="#">Contact Us</a></li>
      <li><a class="waves-effect white-text" href="#">Gallery</a></li>
      <li>

      <ul class="collapsible white-text" data-collapsible="accordion">
        <li>
        <div class="collapsible-header"><i class="material-icons right">place</i>Posts</div>
        <div class="collapsible-body black-text"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons right">whatshot</i>Tweets</div>
        <div class="collapsible-body black-text"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>

      </li>
      <!--<li class="divider"></li>-->
    </ul>
  </nav>
</header>
<main>
<div id="content" class='row'>
  <% if @site.root? && is_home_page? %>
    <%= render :partial => 'shared/parallax' %>
    <%= render :partial => 'shared/site_creation_form' %>
  <% else  %>
    <% if is_home_page?  %>
      <%= render :partial => 'shared/site_parallax' %>
    <% end %>
  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn hide" href="#cart">Modal</a>
  <!-- Modal Structure -->
  <div id="cart" class="modal modal-fixed-footer white black-text">
    <div class="modal-content">
      <h4>Shopping Cart</h4>
      <p>Loading your cart...</p>
    </div>
  </div>

  <% end %>
  <div class='col m2'>
    <%= render :key => "value", :partial => 'shared/facets' %>
  </div>
  <div class="col m10">
    <%= yield %>
  </div>
</div>
</main>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">WishList</h5>
        <p class="grey-text text-lighten-4">Streamling the wedding process.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Company</h5>
        <ul>
          <li><a class="white-text" href="#!">About Us</a></li>
          <li><a class="white-text" href="#!">Vision</a></li>
          <li><a class="white-text" href="#!">Careers</a></li>
          <li><a class="white-text" href="#!">Contact</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Pinterest</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with love - Wishlist</a>
    </div>
  </div>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<!-- <script src="/javascripts/slick.min.js"></script> -->
<script src="/javascripts/jquery.cookies.2.2.0.min.js "></script>
<%= javascript_include_tag 'application' %>
<%= yield :javascripts %>
</body>
</html>


