<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>Wishlist</title>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/stylesheets/site.css" rel="stylesheet" media="screen,projection">
<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/stylesheets/slick.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/stylesheets/slick-theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header class="grey darken-3 ">
  <nav class='top-nav hide-on-large-only' role="navigation">
    <div class='nav-wrapper white'>
      <a href="#" data-activates="nav-mobile" class="button-collapse black-text hide-on-large-only"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo black-text  hide-on-med-and-down">Wishlist</a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed grey darken-3 ">
      <li id='logo-container' class='grey darken-2'><a href="#" class="brand-logo white-text">Logo </a></li>
        <li>
        <form action='#!'>
          <div class="input-field">
            <input id="search" type="search" placeholder='search' required='required'>
            <label for="search"><i class="material-icons left">search</i></label>
          </div>
        </form>
        </li>
      <li><a class="waves-effect white-text" href="#">Home</a></li>
      <li><a class="waves-effect white-text" href="#">Our Products</a></li>
      <li><a class="waves-effect white-text" href="#">About Us</a></li>
      <li><a class="waves-effect white-text" href="#">Contact Us</a></li>
      <li><a class="waves-effect white-text" href="#">Gallery</a></li>
      <li>

      <ul class="collapsible white-text" data-collapsible="accordion">
        <li>
        <div class="collapsible-header"><i class="material-icons right">place</i>Posts</div>
        <div class="collapsible-body black-text"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons right">whatshot</i>Tweets</div>
        <div class="collapsible-body black-text"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>

      </li>
      <!--<li class="divider"></li>-->
    </ul>
  </nav>
</header>
<main>
<div id="content" class='row'>
  <div class='col m2 hide'>
    <%= render :partial => 'shared/facets' %>
  </div>
  <div class='col s12 m12 l12'>
  <% if @site.root? && is_home_page? %>
    <%= render :partial => 'shared/parallax' %>
    <%= render :partial => 'shared/site_creation_form' %>
  <% end %>
  <%= yield %>
</div>
</main>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Santa claus Inc</a>
    </div>
  </div>
</footer>

<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<!-- <script src="/javascripts/slick.min.js"></script> -->
<script src="/javascripts/jquery.cookies.2.2.0.min.js "></script>
<%= javascript_include_tag 'application' %>
<%= yield :javascripts %>
</body>
</html>


